.posrel{
    position: relative;
}
.Header-Bg {
    height: 200px;
    background-image: url("../img/hemant-latawa-IfQlwNqJqV8-unsplash.jpg");
    background-size: cover;
    background-position: right 35% bottom 45%;
}
.text-vert-lr {
    writing-mode: vertical-lr;
    text-orientation: upright;
    text-align: center;
}

.bg-cream {
    background-color: lemonchiffon;
}
header h1{
    font-family: 'Niconne', cursive;
}

.w-max-sd {
    min-width: 280px;
    max-width: 350px;
}
.w-minmax {
    min-width: max-content;
}

.popover {
    border: 2px solid #343a40;
  }
